.lorem-ipsum__section {
  background-color: var(--background-color);
  width: 100%;
}
@media (max-width: 1200px) {
  .lorem-ipsum {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    .lorem-ipsum {
      margin-bottom: 45px;
    }
  }
}
@media (min-width: 1200px) {
  .lorem-ipsum {
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
.lorem-ipsum {
  display: flex;

  padding-left: 0px;
}
@media (max-width: 1200px) {
  .lorem-ipsum {
    justify-content: center;
  }
}
.lorem-ipsum__images {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lorem-ipsum__titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .lorem-ipsum__titles {
    text-align: center;
  }
}
.lorem-ipsum__contents {
  font-size: 14px;
  line-height: 146%;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
  margin: 0px;
}

.lorem-ipsum__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .lorem-ipsum__list {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .lorem-ipsum__list {
    width: 270px;
  }
}
