.order-section {
  & {
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #c4c4c4;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/order-background/hero-sm@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/order-background/hero-sm@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/order-background/hero-md@1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/order-background/hero-md@2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/order-background/hero-lg@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/order-background/hero-lg@2x.jpg);
      }
    }
  }
  // & {
  //   @media screen and (min-width: 480px) {
  //     padding: 118px 0;
  //     min-width: 480px;
  //     margin: 0 auto;

  //     background-color: #c4c4c4;
  //     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url(../images/studio/heroimg.jpg);
  //     background-repeat: no-repeat;
  //     background-position: center;
  //   }
  //   @media screen and (min-width: 768px) {
  //   }
  //   @media screen and (min-width: 1200px) {
  //     max-width: 1600px;
  //     margin: 0 auto;
  //     padding: 200px 0;
  //   }
  // }

  // & {
  //   @extend %section;
  // }
}
.order {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .order {
    height: 400px;
  }
}
.order__headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: #ffffff;

  box-sizing: content-box;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
@media (max-width: 1200px) {
  .order__headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    padding-bottom: 0px;
  }
}
.order__button {
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 188% */

  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;

  border: none;
  &:hover {
    background-color: #757575;
    color: #000000;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.order__headline-wrapper {
  margin-bottom: 30px;
  @media screen and (min-width: 320px) and (max-width: 1999px) {
    margin-left: auto;
    margin-right: auto;
    width: 365px;
  }
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    width: 365px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}
