.social-bellow__media {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 10px;
}
@media (min-width: 320px) and (max-width: 1200px) {
  .social-bellow__media {
    justify-content: center;
  }
}
.social-bellow__join-us {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
}
.social-bellow {
  margin-top: 12px;
  margin-left: 70px;
}
@media (min-width: 320px) and (max-width: 1200px) {
  .social-bellow {
    margin-left: 0px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .social-bellow {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.contacts-bellow__padding {
  padding-top: 9px;
}
