.social-bellow__media {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.social-bellow__join-us {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 20px;
}
.social-bellow {
  margin-top: 12px;
  margin-left: 70px;
}
.contacts-bellow__padding {
  padding-top: 9px;
}
