.social-platform__icons {
  --color1: var(--icon-bellow);
  border-radius: 100%;
  &:hover {
    background-color: #2196f3;
    --color4: var(--background-color);
    border-radius: 100%;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-platform__background {
  list-style-type: none;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  margin-right: 10px;
}
