:root {
  --brand-color: #212121;
  --background-color: #ffffff;
  --background-color2: #2f303a;
  --icon-color: #757575;
  --hover-color: #2196f3;
  --background-color3: #f5f4fa;
  --clients-color: #afb1b8;
  --icon-bellow: rgba(255, 255, 255, 1);
}
